# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# build files
/build

# Python cache files
*.pyc

# dataset
/dataset-backup/
/dataset-test/
# realworld
/dataset/*/*/experiment*
/dataset/*/*/snapshot_result*
/dataset/*/*/out.*
/dataset/*/*/*.txt
/dataset/*/*/*.png
/dataset/*/*/*.csv
!/dataset/*/*/*.tar.bz2
# synthetic
/dataset/synthetic-s/
/dataset/baseline/
/dataset/*/*/*/experiment*
/dataset/*/*/*/snapshot_result*
/dataset/*/*/*/out.*
/dataset/*/*/*/*.txt
/dataset/*/*/*/*.png
/dataset/*/*/*/*.csv
!/dataset/*/*/*/*.tar.bz2


# result
/result
/result-default-2